<div class="col-md-6 col-md-offset-3">
	<h1>Home</h1>
	<p>You're logged in with JWT!!</p>
	<div>
		Users from secure api end point:
		<ul>
			<li *ngFor="let user of users">{{user.name}} {{user.email}}</li>
		</ul>
	</div>
	<p><a [routerLink]="['/login']">Logout</a></p>
</div>