/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoeui.ttf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'SFMono-Regular';
	src: url('../fonts/sfmono-regular.otf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Helvetica Light';
	src: url('../fonts/helvetica-light.otf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Helvetica Bold';
	src: url('../fonts/helvetica-bold.otf');
	font-style: normal;
	font-weight: 300;
}

body {
	font-family: Helvetica, 'Segoe UI', 'SFMono-Regular', Arial, sans-serif !important;
}

.m-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
	.m-container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.m-container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.m-container {
		width: 1170px;
	}
}

.m-card {	
	display: inline-block;
	width: 100%;
	padding: 10px;
}

@media (min-width: 768px) {
	.m-card {
		width: 48%;
	}
}
@media (min-width: 992px) {
	.m-card {
		width: 33%;
	}
}
@media (min-width: 1200px) {
	.m-card {
		width: 33%;
	}
}


section {
	width: 100%;
	float: left;
}

.banner-section {
	background-color: #252b40;
	/* background-image: url("../images/header.jpg"); */	
	/* background-size: cover; */
	height: 380px;
	left: 0;
	position: absolute;
	top: 0;
	background-position: 0;
}

.banner-section__header {
	margin-top: 128px;
	text-align: center;
	font-size: 8em;
	color: silver;
}

/*
input[type="text"] {
	height: 30px;
	font-size: 25px;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif, sans-serif;
	font-weight: 100;
	border: none;
	outline: none;
	color: #555;
	padding: 3px;
	padding-right: 60px;
	width: 0px;
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	z-index: 3;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
}

input[type="text"]:focus:hover {
	border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
	width: 500px;
	z-index: 1;
	border-bottom: 1px solid #BBB;
	cursor: text;
}

input[type="submit"] {
	height: 40px;
	width: 63px;
	display: inline-block;
	color: red;
	float: right;	
	text-indent: -10000px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity .4s ease;
}
*/

@media screen and (min-width:768px) {
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: block;
		width: 160px;
		text-align: center;
		background-color: #eee;
	}
	.navbar>.m-container .navbar-brand-centered,
	.navbar>.m-container-fluid .navbar-brand-centered {
		margin-left: -80px;
	}
}

nav.navbar {
	background: #fff;
	border-color: #ccc;
	box-shadow: 0 0 2px 0 #ccc;
}

nav.navbar a {
	color: #f14444;
}

nav.navbar ul.navbar-nav a {
	color: #f14444;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #fff;
}

nav.navbar ul.navbar-nav a:hover,
nav.navbar ul.navbar-nav a:visited,
nav.navbar ul.navbar-nav a:focus,
nav.navbar ul.navbar-nav a:active {
	background: #fff;
}

nav.navbar ul.navbar-nav a:hover {
	border-color: #f14444;
}

nav.navbar li.divider {
	background: #ccc;
}

nav.navbar button.navbar-toggle {
	background: #f14444;
	border-radius: 2px;
}

nav.navbar button.navbar-toggle:hover {
	background: #999;
}

nav.navbar button.navbar-toggle>span.icon-bar {
	background: #fff;
}

nav.navbar ul.dropdown-menu {
	border: 0;
	background: #fff;
	border-radius: 4px;
	margin: 4px 0;
	box-shadow: 0 0 4px 0 #ccc;
}

nav.navbar ul.dropdown-menu>li>a {
	color: #444;
}

nav.navbar ul.dropdown-menu>li>a:hover {
	background: #f14444;
	color: #fff;
}

nav.navbar span.badge {
	background: #f14444;
	font-weight: normal;
	font-size: 11px;
	margin: 0 4px;
}

nav.navbar span.badge.new {
	background: rgba(255, 0, 0, 0.8);
	color: #fff;
}

.widget-sidebar {
	background-color: #fff;
	padding: 20px;
	margin-top: 30px;
}

.content-footer {
	padding: 10px;
	position: relative;
}

.content-footer span a {
	color: #fff;
	display: inline-block;
	padding: 6px 5px;
	text-decoration: none;
	transition: 0.5s;
}

.content-footer span a:hover {
	color: #F39C12;
}

.content-footer>img {
	width: 33px;
	height: 33px;
	border-radius: 100%;
	margin-right: 10px;
	border: 2px solid #fff;
}

.user-details {
	width: 300px;
	top: -100px;
	height: 100px;
	padding-bottom: 99px;
	position: absolute;
	border: solid 2px #fff;
	background-color: #34495E;
	right: 25px;
	display: none;
	z-index: 1;
}

@media (max-width:768px) {
	.user-details {
		right: 5px;
	}
}

.user-small-img {
	cursor: pointer;
}

.content-footer:hover .user-details {
	display: block;
}

.content-footer .user-details .user-img {
	width: 100px;
	height: 100px;
	float: left;
}

.user-full-ditels h3 {
	color: #fff;
	display: block;
	margin: 0px;
	padding-top: 10px;
	padding-right: 28px;
	text-align: right;
}

.user-full-ditels p {
	color: #fff;
	display: block;
	margin: 0px;
	padding-right: 20px;
	padding-top: 5px;
	text-align: right;
}

.social-icon {
	background-color: #fff;
	margin-top: 10px;
	padding-right: 20px;
	text-align: right;
}

.social-icon>a {
	font-size: 20px;
	text-decoration: none;
	padding: 5px;
}

.social-icon a:nth-of-type(1) {
	color: #4E71A8;
}

.social-icon a:nth-of-type(2) {
	color: #3FA1DA;
}

.social-icon a:nth-of-type(3) {
	color: #E3411F;
}

.social-icon a:nth-of-type(4) {
	color: #CA3737;
}

.social-icon a:nth-of-type(5) {
	color: #3A3A3A;
}

.categories-btn {
	background-color: #f14444;
	margin-top: 1px;
	color: #fff;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.categories-btn:after {
	content: '\25BA';
	color: #fff;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.categories-btn:hover {
	background-color: grey;
	color: #fff;
}

.form-control {
	border-radius: 0px;
}

.btn-warning {
	border-radius: 0px;
	background-color: #F39C12;
	margin-top: 15px;
}

.input-group-addon {
	border-radius: 0px;
}

article {
	background-color: #E0E0E0;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

figure img {
	width: 100%;
	height: 100%;
}

.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment {
	padding: 5px;
}

.post {
	background-color: #FFF;
	overflow: hidden;
	box-shadow: 0 0 1px #CCC;
}

.post img {
	filter: blur(2px);
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
}

.post img:hover {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
}

.post .content {
	padding: 15px;
}

.post .author {
	font-size: 11px;
	color: #737373;
	padding: 25px 30px 20px;
}

.post .post-img-content {
	height: 196px;
	position: relative;
}

.post .post-img-content img {
	position: absolute;
}

.post .post-title {
	display: table-cell;
	vertical-align: bottom;
	z-index: 2;
	position: relative;
}

.post .post-title b {
	background-color: rgba(51, 51, 51, 0.58);
	display: inline-block;
	margin-bottom: 5px;
	color: #FFF;
	padding: 10px 15px;
	margin-top: 5px;
}

.cuadro_intro_hover {	
	padding: 0px;
	position: relative;
	overflow: hidden;
	height: 200px;
	background-color:#cccccc;
}

.cuadro_intro_hover:hover .caption {
	opacity: 1;
	transform: translateY(-150px);
	-webkit-transform: translateY(-150px);
	-moz-transform: translateY(-150px);
	-ms-transform: translateY(-150px);
	-o-transform: translateY(-150px);
}

.cuadro_intro_hover img {
	z-index: 4;
}

.cuadro_intro_hover .caption {
	position: absolute;
	top: 150px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 100%;
}

.cuadro_intro_hover .blur {
	background-color: rgba(0, 0, 0, 0.7);
	height: 300px;
	z-index: 5;
	position: absolute;
	width: 100%;
}

.cuadro_intro_hover .caption-text {
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 300px;
	text-align: center;
	top: -20px;
	width: 100%;
}

.cuadro_intro_hover__text {
	text-align:center;
	margin-top:20px;
}

.caption-text__header {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	padding: 10px;
}

.caption-text__text {
}

.footer__contacts-wrapper {
	margin: 0;
}

.footer__newsletter-wrapper {
	margin: 5px 0;
}

.footer__socials-wrapper {
	margin: 5px 0;
}