body {
	background-color: #ECF0F1;
}

.navbar-inverse {
	background-color: #34495E;
	border-color: #34495E;
}

/*
.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 0px solid transparent;
border-radius:0px;
}
*/

.navbar-brand {
	float: left;
	height: auto;
	padding: 10px 10px;
	font-size: 18px;
	line-height: 20px;
}

.navbar-brand>img {
	width: 80%;
}

.navbar-inverse .navbar-nav>li>a {
	color: #F39C12;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #009688;
}

.btn-default {
	color: #333;
	background-color: #009688;
	border-color: #009688;
	border-radius: 0px;
	color: #fff;
}

.blog-section {	
	margin-top: 250px;
	margin-bottom: 0;
}

.content-title {
	padding: 5px;
	background-color: #fff;
}

.content-title h3 a {
	color: #34495E;
	text-decoration: none;
	transition: 0.5s;
}

.content-title h3 a:hover {
	color: #F39C12;
}

.content-footer {
	background-color: #16A085;
	padding: 10px;
	position: relative;
}

.content-footer span a {
	color: #fff;
	display: inline-block;
	padding: 6px 5px;
	text-decoration: none;
	transition: 0.5s;
}

.content-footer span a:hover {}

aside {
	margin-top: 30px;
	-webkit-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
	-moz-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
	box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
}

aside .content-footer>img {
	width: 33px;
	height: 33px;
	border-radius: 100%;
	margin-right: 10px;
	border: 2px solid #fff;
}

.user-details {
	width: 300px;
	top: -100px;
	height: 100px;
	padding-bottom: 99px;
	position: absolute;
	border: solid 2px #fff;
	background-color: #34495E;
	right: 25px;
	display: none;
	z-index: 1;
}

@media (max-width:768px) {
	.user-details {
		right: 5px;
	}
}

.user-small-img {
	cursor: pointer;
}

.content-footer:hover .user-details {
	display: block;
}

.content-footer .user-details .user-img {
	width: 100px;
	height: 100px;
	float: left;
}

.user-full-ditels h3 {
	color: #fff;
	display: block;
	margin: 0px;
	padding-top: 10px;
	padding-right: 28px;
	text-align: right;
}

.user-full-ditels p {
	color: #fff;
	display: block;
	margin: 0px;
	padding-right: 20px;
	padding-top: 5px;
	text-align: right;
}

.social-icon {
	background-color: #fff;
	margin-top: 10px;
	padding-right: 20px;
	text-align: right;
}

.social-icon>a {
	font-size: 20px;
	text-decoration: none;
	padding: 5px;
}

.social-icon a:nth-of-type(1) {
	color: #4E71A8;
}

.social-icon a:nth-of-type(2) {
	color: #3FA1DA;
}

.social-icon a:nth-of-type(3) {
	color: #E3411F;
}

.social-icon a:nth-of-type(4) {
	color: #CA3737;
}

.social-icon a:nth-of-type(5) {
	color: #3A3A3A;
}

.widget-sidebar {
	background-color: #fff;
	padding: 20px;
	margin-top: 30px;
}

.title-widget-sidebar {
	font-size: 14pt;
	border-bottom: 2px solid #e5ebef;
	margin-bottom: 15px;
	padding-bottom: 10px;
	margin-top: 0px;
}

.title-widget-sidebar:after {
	border-bottom: 2px solid #f1c40f;
	width: 150px;
	display: block;
	position: absolute;
	content: '';
	padding-bottom: 10px;
}

.recent-post {
	width: 100%;
	height: 80px;
	list-style-type: none;
}

.post-img img {
	width: 100px;
	height: 70px;
	float: left;
	margin-right: 15px;
	border: 5px solid #16A085;
	transition: 0.5s;
}

.recent-post a {
	text-decoration: none;
	color: #34495E;
	transition: 0.5s;
}

.post-img,
.recent-post a:hover {
	color: #F39C12;
}

.post-img img:hover {
	border: 5px solid #F39C12;
}

button.accordion {
	background-color: #16A085;
	color: #fff;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
	background-color: #F39C12;
	color: #fff;
}

button.accordion:after {
	content: '\002B';
	color: #fff;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

button.accordion.active:after {
	content: "\2212";
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.categories-btn {
	background-color: #F39C12;
	margin-top: 30px;
	color: #fff;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.categories-btn:after {
	content: '\25BA';
	color: #fff;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.categories-btn:hover {
	background-color: #16A085;
	color: #fff;
}

.form-control {
	border-radius: 0px;
}

.btn-warning {
	border-radius: 0px;
	background-color: #F39C12;
	margin-top: 15px;
}

.input-group-addon {
	border-radius: 0px;
}

.card {
	padding-bottom: 20px;
}

.card-header {
	padding: 0px 33px;
}

.card-header__inner-item {
	margin: 0 -33px;
}

.card-header__inner-item__image-box {
	padding-bottom: 100px;
	border: 0;
	background-image: url(../assets/images/card-header.jpg);
}

.card-header__inner-item__info {
	padding: 30px 20px 26px 20px;
}

.card-header__inner-item__info__img {
	width: 9px;
	height: 12px;
}

.card-header__inner-item__info__text {
	margin: 0px 10px;
	font-family: 'Helvetica Light';
	font-size: 12px;
	color: #8D8B8B;
}

.card-body {
	padding: 0px 20px;
}

.card-body__header {
	margin: 0px;
	font-family: 'Helvetica Bold';
	font-size: 18px;
	color: #080808;
	overflow: hidden;
	min-height: 20px;
	max-height: 40px;
}

.card-body__text {
	margin: 13px 0px 30px 0px;
	font-family: 'Helvetica Light';
	font-size: 14px;
	color: #797979;
	overflow: hidden;
	min-height: 40px;
	max-height: 58px;
}

.card-author {
	padding: 0px 20px;
}

.card-author-image-box {
	width: 40px;
}

.card-author-image-box-image {
	width: 40px;
	height: 40px;
}

.card-author__info {
	padding-left: 10px;
}

.card-author__info__text {
	margin: 0px;
	font-family: 'Helvetica Light';
	font-size: 12px;
	color: #080808;
}

.card-author__info__date {
	margin: 0px;
	font-family: 'Helvetica Light';
	font-size: 12px;
	color: #797979;
}

.card-author__rating {
}

.card-author__rating__list {
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.card-author__rating__list__item {
	display: inline-block;
}

.card-author__rating__list__item__text {
	margin: 0px;
	padding: 0px 10px;
	font-family: 'Helvetica Light';
	font-size: 14px;
	color: #4F4F4F;
}

.card-author__rating__list__item__text__image {
	width: 20px;
	height: 16px;
}

.d-table {
	display: table;
}

.d-table-row {
	display: table-row;
}

.d-table-cell-va-middle {
	display: table-cell;
	vertical-align: middle;
}

.w100 {
	width: 100%;
}

