<router-outlet></router-outlet>
<!--
	<div id="wrapper">
		<div class="overlay"></div>
		<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" style="z-index: 1032;">
			<ul class="nav sidebar-nav">
				<li class="sidebar-brand">
					<a href="javascript: void(0);">
					EPortal
					</a>
				</li>
				<li>
					<a href="javascript: void(0);">Мое обучение</a>
				</li>
				<li>
					<a href="javascript: void(0);">Курсы</a>
				</li>
				<li>
					<a href="javascript: void(0);">Видео</a>
				</li>
				<li class="dropdown">
					<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">Сервисы <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header">Сервисы</li>
						<li><a href="javascript: void(0);">Сервис 1</a></li>
						<li><a href="javascript: void(0);">Сервис 2</a></li>
						<li><a href="javascript: void(0);">Сервис 3</a></li>
						<li><a href="javascript: void(0);">Сервис 4</a></li>
						<li><a href="javascript: void(0);">Сервис 5</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);">Оплата</a>
				</li>
				<li>
					<a href="javascript: void(0);">Оплата 2</a>
				</li>
			</ul>
		</nav>
		<div id="page-content-wrapper">
			<button type="button" class="hamburger is-closed" data-toggle="offcanvas" style="top: 10px; z-index: 1032;">
			<span class="hamb-top"></span>
			<span class="hamb-middle"></span>
			<span class="hamb-bottom"></span>
			</button>
			<div class="m-container" style="display: none;">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h1></h1>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="m-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
			<span class="sr-only">Toggle</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand navbar-brand-centered" style="display: none;">EPortal</div>
		</div>
		<div class="collapse navbar-collapse" id="navbar-brand-centered">
			<ul class="nav navbar-nav">
				<li><a href="javascript: void(0);">БЛОГ</a></li>
				<li><a href="javascript: void(0);">ИСТОРИИ</a></li>
				<li><a href="javascript: void(0);">КУРСЫ</a></li>
				<li><a href="javascript: void(0);">МЕДИА</a></li>
				<li><a href="javascript: void(0);">ПРОЧЕЕ</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-language" aria-hidden="true"></i> СООБЩЕНИЯ <span class="badge">4</span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript: void(0);"><i class="fa fa-arrow-left" aria-hidden="true"></i> Входящие (2)</a></li>
						<li><a href="javascript: void(0);"><i class="fa fa-arrow-right" aria-hidden="true"></i> Исходящие (2)</a></li>
					</ul>
				</li>
				<li><a [routerLink]="['/login']">ВХОД</a></li>
				<li><a [routerLink]="['/register']">РЕГИСТРАЦИЯ</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="search-wrap">
	<form action="" autocomplete="on">
		<input id="search" name="search" type="text" placeholder="Ключевая фраза"><input id="search_submit" value="search-submit" type="submit">
	</form>
</div>
<section class="banner-section">
	<h1 class="banner-section__header">EPortal</h1>
</section>
<div class="clearfix"></div>
<section id="blog-section" class="blog-section">
	<div class="m-container">		
		<div class="m-card">
			<div class="card">
				<div class="card-header">
					<div class="wall-img-preview lightbox clearfix card-header__inner-item">
						<div class="wip-item card-header__inner-item__image-box">
							<div class="lightbox-item"></div>
						</div>
					</div>
				</div>
				<div class="d-table w100 card-header__inner-item__info">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle">
							<img src="./assets/images/blog_lock.svg" alt="" class="card-header__inner-item__info__img">
						</div>
						<div class="d-table-cell-va-middle">
							<p class="card-header__inner-item__info__text">Только для подписчиков</p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<h2 class="card-body__header">
						Цель современного образования
					</h2>
					<p class="card-body__text">
						Цель современного образования
						Цель современного образования
						Цель современного образования
						Цель современного образования
					</p>
				</div>
				<div class="d-table w100 card-author">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle card-author-image-box" align="left">
							<img class="avatar-img a-lg card-author-image-box-image" src="./assets/images/user-50x50.jpg" alt="">
						</div>
						<div class="d-table-cell-va-middle card-author__info" align="left">
							<h4 class="card-author__info__text">Автор</h4>
							<p class="card-author__info__date"><small>13 февраля 2018 г.</small></p>
						</div>
						<div class="d-table-cell-va-middle card-author__rating" align="right">
							<ul class="card-author__rating__list">
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_heart.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_star.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-card">
			<div class="card">
				<div class="card-header">
					<div class="wall-img-preview lightbox clearfix card-header__inner-item">
						<div class="wip-item card-header__inner-item__image-box">
							<div class="lightbox-item"></div>
						</div>
					</div>
				</div>
				<div class="d-table w100 card-header__inner-item__info">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle">
							<img src="./assets/images/blog_lock.svg" alt="" class="card-header__inner-item__info__img">
						</div>
						<div class="d-table-cell-va-middle">
							<p class="card-header__inner-item__info__text">Только для подписчиков</p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<h2 class="card-body__header">
						Цель современного образования
					</h2>
					<p class="card-body__text">
						Цель современного образования
						Цель современного образования
						Цель современного образования
						Цель современного образования
					</p>
				</div>
				<div class="d-table w100 card-author">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle card-author-image-box" align="left">
							<img class="avatar-img a-lg card-author-image-box-image" src="./assets/images/user-50x50.jpg" alt="">
						</div>
						<div class="d-table-cell-va-middle card-author__info" align="left">
							<h4 class="card-author__info__text">Автор</h4>
							<p class="card-author__info__date"><small>13 февраля 2018 г.</small></p>
						</div>
						<div class="d-table-cell-va-middle card-author__rating" align="right">
							<ul class="card-author__rating__list">
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_heart.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_star.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-card">
			<div class="card">
				<div class="card-header">
					<div class="wall-img-preview lightbox clearfix card-header__inner-item">
						<div class="wip-item card-header__inner-item__image-box">
							<div class="lightbox-item"></div>
						</div>
					</div>
				</div>
				<div class="d-table w100 card-header__inner-item__info">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle">
							<img src="./assets/images/blog_lock.svg" alt="" class="card-header__inner-item__info__img">
						</div>
						<div class="d-table-cell-va-middle">
							<p class="card-header__inner-item__info__text">Только для подписчиков</p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<h2 class="card-body__header">
						Цель современного образования
					</h2>
					<p class="card-body__text">
						Цель современного образования
						Цель современного образования
						Цель современного образования
						Цель современного образования
					</p>
				</div>
				<div class="d-table w100 card-author">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle card-author-image-box" align="left">
							<img class="avatar-img a-lg card-author-image-box-image" src="./assets/images/user-50x50.jpg" alt="">
						</div>
						<div class="d-table-cell-va-middle card-author__info" align="left">
							<h4 class="card-author__info__text">Автор</h4>
							<p class="card-author__info__date"><small>13 февраля 2018 г.</small></p>
						</div>
						<div class="d-table-cell-va-middle card-author__rating" align="right">
							<ul class="card-author__rating__list">
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_heart.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_star.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-card">
			<div class="card">
				<div class="card-header">
					<div class="wall-img-preview lightbox clearfix card-header__inner-item">
						<div class="wip-item card-header__inner-item__image-box">
							<div class="lightbox-item"></div>
						</div>
					</div>
				</div>
				<div class="d-table w100 card-header__inner-item__info">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle">
							<img src="./assets/images/blog_lock.svg" alt="" class="card-header__inner-item__info__img">
						</div>
						<div class="d-table-cell-va-middle">
							<p class="card-header__inner-item__info__text">Только для подписчиков</p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<h2 class="card-body__header">
						Цель современного образования
					</h2>
					<p class="card-body__text">
						Цель современного образования
						Цель современного образования
						Цель современного образования
						Цель современного образования
					</p>
				</div>
				<div class="d-table w100 card-author">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle card-author-image-box" align="left">
							<img class="avatar-img a-lg card-author-image-box-image" src="./assets/images/user-50x50.jpg" alt="">
						</div>
						<div class="d-table-cell-va-middle card-author__info" align="left">
							<h4 class="card-author__info__text">Автор</h4>
							<p class="card-author__info__date"><small>13 февраля 2018 г.</small></p>
						</div>
						<div class="d-table-cell-va-middle card-author__rating" align="right">
							<ul class="card-author__rating__list">
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_heart.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_star.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-card">
			<div class="card">
				<div class="card-header">
					<div class="wall-img-preview lightbox clearfix card-header__inner-item">
						<div class="wip-item card-header__inner-item__image-box">
							<div class="lightbox-item"></div>
						</div>
					</div>
				</div>
				<div class="d-table w100 card-header__inner-item__info">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle">
							<img src="./assets/images/blog_lock.svg" alt="" class="card-header__inner-item__info__img">
						</div>
						<div class="d-table-cell-va-middle">
							<p class="card-header__inner-item__info__text">Только для подписчиков</p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<h2 class="card-body__header">
						Цель современного образования
					</h2>
					<p class="card-body__text">
						Цель современного образования
						Цель современного образования
						Цель современного образования
						Цель современного образования
					</p>
				</div>
				<div class="d-table w100 card-author">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle card-author-image-box" align="left">
							<img class="avatar-img a-lg card-author-image-box-image" src="./assets/images/user-50x50.jpg" alt="">
						</div>
						<div class="d-table-cell-va-middle card-author__info" align="left">
							<h4 class="card-author__info__text">Автор</h4>
							<p class="card-author__info__date"><small>13 февраля 2018 г.</small></p>
						</div>
						<div class="d-table-cell-va-middle card-author__rating" align="right">
							<ul class="card-author__rating__list">
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_heart.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_star.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-card">
			<div class="card">
				<div class="card-header">
					<div class="wall-img-preview lightbox clearfix card-header__inner-item">
						<div class="wip-item card-header__inner-item__image-box">
							<div class="lightbox-item"></div>
						</div>
					</div>
				</div>
				<div class="d-table w100 card-header__inner-item__info">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle">
							<img src="./assets/images/blog_lock.svg" alt="" class="card-header__inner-item__info__img">
						</div>
						<div class="d-table-cell-va-middle">
							<p class="card-header__inner-item__info__text">Только для подписчиков</p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<h2 class="card-body__header">
						Цель современного образования
					</h2>
					<p class="card-body__text">
						Цель современного образования
						Цель современного образования
						Цель современного образования
						Цель современного образования
					</p>
				</div>
				<div class="d-table w100 card-author">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle card-author-image-box" align="left">
							<img class="avatar-img a-lg card-author-image-box-image" src="./assets/images/user-50x50.jpg" alt="">
						</div>
						<div class="d-table-cell-va-middle card-author__info" align="left">
							<h4 class="card-author__info__text">Автор</h4>
							<p class="card-author__info__date"><small>13 февраля 2018 г.</small></p>
						</div>
						<div class="d-table-cell-va-middle card-author__rating" align="right">
							<ul class="card-author__rating__list">
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_heart.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_star.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-card">
			<div class="card">
				<div class="card-header">
					<div class="wall-img-preview lightbox clearfix card-header__inner-item">
						<div class="wip-item card-header__inner-item__image-box">
							<div class="lightbox-item"></div>
						</div>
					</div>
				</div>
				<div class="d-table w100 card-header__inner-item__info">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle">
							<img src="./assets/images/blog_lock.svg" alt="" class="card-header__inner-item__info__img">
						</div>
						<div class="d-table-cell-va-middle">
							<p class="card-header__inner-item__info__text">Только для подписчиков</p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<h2 class="card-body__header">
						Цель современного образования
					</h2>
					<p class="card-body__text">
						Цель современного образования
						Цель современного образования
						Цель современного образования
						Цель современного образования
					</p>
				</div>
				<div class="d-table w100 card-author">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle card-author-image-box" align="left">
							<img class="avatar-img a-lg card-author-image-box-image" src="./assets/images/user-50x50.jpg" alt="">
						</div>
						<div class="d-table-cell-va-middle card-author__info" align="left">
							<h4 class="card-author__info__text">Автор</h4>
							<p class="card-author__info__date"><small>13 февраля 2018 г.</small></p>
						</div>
						<div class="d-table-cell-va-middle card-author__rating" align="right">
							<ul class="card-author__rating__list">
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_heart.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_star.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-card">
			<div class="card">
				<div class="card-header">
					<div class="wall-img-preview lightbox clearfix card-header__inner-item">
						<div class="wip-item card-header__inner-item__image-box">
							<div class="lightbox-item"></div>
						</div>
					</div>
				</div>
				<div class="d-table w100 card-header__inner-item__info">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle">
							<img src="./assets/images/blog_lock.svg" alt="" class="card-header__inner-item__info__img">
						</div>
						<div class="d-table-cell-va-middle">
							<p class="card-header__inner-item__info__text">Только для подписчиков</p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<h2 class="card-body__header">
						Цель современного образования
					</h2>
					<p class="card-body__text">
						Цель современного образования
						Цель современного образования
						Цель современного образования
						Цель современного образования
					</p>
				</div>
				<div class="d-table w100 card-author">
					<div class="d-table-row">
						<div class="d-table-cell-va-middle card-author-image-box" align="left">
							<img class="avatar-img a-lg card-author-image-box-image" src="./assets/images/user-50x50.jpg" alt="">
						</div>
						<div class="d-table-cell-va-middle card-author__info" align="left">
							<h4 class="card-author__info__text">Автор</h4>
							<p class="card-author__info__date"><small>13 февраля 2018 г.</small></p>
						</div>
						<div class="d-table-cell-va-middle card-author__rating" align="right">
							<ul class="card-author__rating__list">
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_heart.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
								<li class="card-author__rating__list__item">
									<p class="card-author__rating__list__item__text">
										<img src="./assets/images/blog_star.svg" alt="" class="card-author__rating__list__item__text__image"> 500
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="m-container">
		<h4>Важная информация</h4>
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<div class="post">
					<div class="post-img-content">
						<img src="http://placehold.it/460x250" class="img-responsive" />
						<span class="post-title">
						<b>Современный образовательный портал</b><br />
						<b>Доступное образование</b>
						</span>
					</div>
					<div class="content">
						<div class="author">
							<b>Автор</b> |
							<time datetime="2018-02-13">13 февраля 2018 г.</time>
						</div>
						<div>
							Образовательный портал. Образовательный портал. Образовательный портал. Образовательный портал.
							Образовательный портал. Образовательный портал. Образовательный портал. Образовательный портал.
						</div>
						<div>
							<a href="javascript: void(0);" class="btn btn-warning btn-sm">Больше</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="post">
					<div class="post-img-content">
						<img src="http://placehold.it/460x250" class="img-responsive" />
						<span class="post-title">
						<b>Современный образовательный портал</b><br />
						<b>Доступное образование</b>
						</span>
					</div>
					<div class="content">
						<div class="author">
							<b>Автор</b> |
							<time datetime="2018-02-13">13 февраля 2018 г.</time>
						</div>
						<div>
							Образовательный портал. Образовательный портал. Образовательный портал. Образовательный портал.
							Образовательный портал. Образовательный портал. Образовательный портал. Образовательный портал.
						</div>
						<div>
							<a href="javascript: void(0);" class="btn btn-warning btn-sm">Больше</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="post">
					<div class="post-img-content">
						<img src="http://placehold.it/460x250" class="img-responsive" />
						<span class="post-title">
						<b>Современный образовательный портал</b><br />
						<b>Доступное образование</b>
						</span>
					</div>
					<div class="content">
						<div class="author">
							<b>Автор</b> |
							<time datetime="2018-02-13">13 февраля 2018 г.</time>
						</div>
						<div>
							Образовательный портал. Образовательный портал. Образовательный портал. Образовательный портал.
							Образовательный портал. Образовательный портал. Образовательный портал. Образовательный портал.
						</div>
						<div>
							<a href="javascript: void(0);" class="btn btn-warning btn-sm">Больше</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="row">
		<div class="col-lg-12">
			<div class="m-container">
				<hr>
				<div class="col-lg-3">
					<div class="cuadro_intro_hover">
						<p class="cuadro_intro_hover__text">
							<img src="http://placehold.it/500x330" class="img-responsive">
						</p>
						<div class="caption">
							<div class="blur"></div>							
							<div class="caption-text">
								<h3 class="caption-text__header">АНОНС</h3>
								<p class="caption-text__text">Ожидайте запуск нашего современного образовательного портала</p>
								<a class="btn btn-default" href="javascript: void(0);"><span class="glyphicon glyphicon-plus"> ИНФО</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="cuadro_intro_hover">
						<p style="text-align:center; margin-top:20px;">
							<img src="http://placehold.it/500x330" class="img-responsive">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 class="caption-text__header">АНОНС</h3>
								<p class="caption-text__text">Ожидайте запуск нашего современного образовательного портала</p>
								<a class="btn btn-default" href="javascript: void(0);"><span class="glyphicon glyphicon-plus"> ИНФО</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3 class="title-widget-sidebar">Категории:</h3>
					<ul class="list-unstyled">
						<li><a href="javascript: void(0);"><i class="fa fa-file"></i> News</a></li>
						<li><a href="javascript: void(0);"><i class="fa fa-android"></i> Android</a></li>
						<li><a href="javascript: void(0);"><i class="fa fa-code"></i> C#</a></li>
						<li><a href="javascript: void(0);"><i class="fa fa-code"></i> Java</a></li>
						<li><a href="javascript: void(0);"><i class="fa fa-book"></i> Books</a></li>
						<li><a href="javascript: void(0);"><i class="fa fa-globe"></i> Web</a></li>
						<li><a href="javascript: void(0);"><i class="fa fa-windows"></i> Windows</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer__contacts-wrapper">
						<h3 class="title-widget-sidebar">Контакты:</h3>
						<p>У вас есть вопросы? Задавайте!</p>
						<p><a href="javascript: void(0);" title="Свяжитесь со мной!"><i class="fa fa-envelope"></i> Контакт</a></p>
					</div>
					<div class="footer__newsletter-wrapper">
						<h3 class="title-widget-sidebar">Рассылка:</h3>
						<p>Оформите подписку, чтобы оставаться в курсе последних событий на сайте</p>
						<form action="POST">
							<div class="form-group fg-float">
								<div class="fg-line">
									<input type="text" class="input-sm form-control fg-input" name="email" required />
									<label class="fg-label">Email адрес</label>                            
								</div>
							</div>
							<div class="checkbox m-b-30">
								<label>
									<input type="checkbox" value="" name="agreement-with-the-license" />
									<i class="input-helper"></i>
									Согласен с лицензией
								</label>
							</div>
							<button type="button" class="btn btn-warning">Подписаться</button>
						</form>
					</div>
					<div class="footer__socials-wrapper">
						<h3 class="title-widget-sidebar">Подписывайтесь на наши информационные каналы:</h3>
						<a href="javascript: void(0);" title="Twitter">
							<span class="fa-stack fa-lg">
								<i class="fa fa-square-o fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x"></i>
							</span>
							Twitter
						</a>
						<a href="javascript: void(0);" title="GitHub">
							<span class="fa-stack fa-lg">
								<i class="fa fa-square-o fa-stack-2x"></i>
								<i class="fa fa-github fa-stack-1x"></i>
							</span>
							GitHub
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="m-container">
				<hr>
				<p>© EPortal 2018 | <a href="javascript: void(0);">Политика конфиденциальности</a> | <a href="javascript: void(0);">Условия использования сайта</a></p>
			</div>
		</div>
	</div>
</footer>