section {
	width: 100%;
	float: left;
}

.banner-section {
	background-image: url("../assets/images/header.jpg");
	background-size: cover;
	height: 380px;
	left: 0;
	position: absolute;
	top: 0;
	background-position: 0;
}

input[type="text"] {
	height: 30px;
	font-size: 25px;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif, sans-serif;
	font-weight: 100;
	border: none;
	outline: none;
	color: #555;
	padding: 3px;
	padding-right: 60px;
	width: 0px;
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	z-index: 3;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
}

input[type="text"]:focus:hover {
	border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
	width: 500px;
	z-index: 1;
	border-bottom: 1px solid #BBB;
	cursor: text;
}

input[type="submit"] {
	height: 40px;
	width: 63px;
	display: inline-block;
	color: red;
	float: right;
	/* background: url() center center no-repeat; */
	text-indent: -10000px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity .4s ease;
}

@media screen and (min-width:768px) {
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: block;
		width: 160px;
		text-align: center;
		background-color: #eee;
	}
	.navbar>.container .navbar-brand-centered,
	.navbar>.container-fluid .navbar-brand-centered {
		margin-left: -80px;
	}
}

nav.navbar {
	background: #fff;
	border-color: #ccc;
	box-shadow: 0 0 2px 0 #ccc;
}

nav.navbar a {
	color: #f14444;
}

nav.navbar ul.navbar-nav a {
	color: #f14444;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #fff;
}

nav.navbar ul.navbar-nav a:hover,
nav.navbar ul.navbar-nav a:visited,
nav.navbar ul.navbar-nav a:focus,
nav.navbar ul.navbar-nav a:active {
	background: #fff;
}

nav.navbar ul.navbar-nav a:hover {
	border-color: #f14444;
}

nav.navbar li.divider {
	background: #ccc;
}

nav.navbar button.navbar-toggle {
	background: #f14444;
	border-radius: 2px;
}

nav.navbar button.navbar-toggle:hover {
	background: #999;
}

nav.navbar button.navbar-toggle>span.icon-bar {
	background: #fff;
}

nav.navbar ul.dropdown-menu {
	border: 0;
	background: #fff;
	border-radius: 4px;
	margin: 4px 0;
	box-shadow: 0 0 4px 0 #ccc;
}

nav.navbar ul.dropdown-menu>li>a {
	color: #444;
}

nav.navbar ul.dropdown-menu>li>a:hover {
	background: #f14444;
	color: #fff;
}

nav.navbar span.badge {
	background: #f14444;
	font-weight: normal;
	font-size: 11px;
	margin: 0 4px;
}

nav.navbar span.badge.new {
	background: rgba(255, 0, 0, 0.8);
	color: #fff;
}

.widget-sidebar {
	background-color: #fff;
	padding: 20px;
	margin-top: 30px;
}

.content-footer {
	padding: 10px;
	position: relative;
}

.content-footer span a {
	color: #fff;
	display: inline-block;
	padding: 6px 5px;
	text-decoration: none;
	transition: 0.5s;
}

.content-footer span a:hover {
	color: #F39C12;
}

.content-footer>img {
	width: 33px;
	height: 33px;
	border-radius: 100%;
	margin-right: 10px;
	border: 2px solid #fff;
}

.user-details {
	width: 300px;
	top: -100px;
	height: 100px;
	padding-bottom: 99px;
	position: absolute;
	border: solid 2px #fff;
	background-color: #34495E;
	right: 25px;
	display: none;
	z-index: 1;
}

@media (max-width:768px) {
	.user-details {
		right: 5px;
	}
}

.user-small-img {
	cursor: pointer;
}

.content-footer:hover .user-details {
	display: block;
}

.content-footer .user-details .user-img {
	width: 100px;
	height: 100px;
	float: left;
}

.user-full-ditels h3 {
	color: #fff;
	display: block;
	margin: 0px;
	padding-top: 10px;
	padding-right: 28px;
	text-align: right;
}

.user-full-ditels p {
	color: #fff;
	display: block;
	margin: 0px;
	padding-right: 20px;
	padding-top: 5px;
	text-align: right;
}

.social-icon {
	background-color: #fff;
	margin-top: 10px;
	padding-right: 20px;
	text-align: right;
}

.social-icon>a {
	font-size: 20px;
	text-decoration: none;
	padding: 5px;
}

.social-icon a:nth-of-type(1) {
	color: #4E71A8;
}

.social-icon a:nth-of-type(2) {
	color: #3FA1DA;
}

.social-icon a:nth-of-type(3) {
	color: #E3411F;
}

.social-icon a:nth-of-type(4) {
	color: #CA3737;
}

.social-icon a:nth-of-type(5) {
	color: #3A3A3A;
}

.categories-btn {
	background-color: #f14444;
	margin-top: 1px;
	color: #fff;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.categories-btn:after {
	content: '\25BA';
	color: #fff;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.categories-btn:hover {
	background-color: grey;
	color: #fff;
}

.form-control {
	border-radius: 0px;
}

.btn-warning {
	border-radius: 0px;
	background-color: #F39C12;
	margin-top: 15px;
}

.input-group-addon {
	border-radius: 0px;
}

article {
	background-color: #E0E0E0;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

figure img {
	width: 100%;
	height: 100%;
}

.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment {
	padding: 5px;
}

.post {
	background-color: #FFF;
	overflow: hidden;
	box-shadow: 0 0 1px #CCC;
}

.post img {
	filter: blur(2px);
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
}

.post img:hover {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
}

.post .content {
	padding: 15px;
}

.post .author {
	font-size: 11px;
	color: #737373;
	padding: 25px 30px 20px;
}

.post .post-img-content {
	height: 196px;
	position: relative;
}

.post .post-img-content img {
	position: absolute;
}

.post .post-title {
	display: table-cell;
	vertical-align: bottom;
	z-index: 2;
	position: relative;
}

.post .post-title b {
	background-color: rgba(51, 51, 51, 0.58);
	display: inline-block;
	margin-bottom: 5px;
	color: #FFF;
	padding: 10px 15px;
	margin-top: 5px;
}

.cuadro_intro_hover {
	padding: 0px;
	position: relative;
	overflow: hidden;
	height: 200px;
}

.cuadro_intro_hover:hover .caption {
	opacity: 1;
	transform: translateY(-150px);
	-webkit-transform: translateY(-150px);
	-moz-transform: translateY(-150px);
	-ms-transform: translateY(-150px);
	-o-transform: translateY(-150px);
}

.cuadro_intro_hover img {
	z-index: 4;
}

.cuadro_intro_hover .caption {
	position: absolute;
	top: 150px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 100%;
}

.cuadro_intro_hover .blur {
	background-color: rgba(0, 0, 0, 0.7);
	height: 300px;
	z-index: 5;
	position: absolute;
	width: 100%;
}

.cuadro_intro_hover .caption-text {
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 300px;
	text-align: center;
	top: -20px;
	width: 100%;
}

body {
	background-color: #ECF0F1;
}

.navbar-inverse {
	background-color: #34495E;
	border-color: #34495E;
}

/*
.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 0px solid transparent;
border-radius:0px;
}
*/

.navbar-brand {
	float: left;
	height: auto;
	padding: 10px 10px;
	font-size: 18px;
	line-height: 20px;
}

.navbar-brand>img {
	width: 80%;
}

.navbar-inverse .navbar-nav>li>a {
	color: #F39C12;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #009688;
}

.btn-default {
	color: #333;
	background-color: #009688;
	border-color: #009688;
	border-radius: 0px;
	color: #fff;
}

#blog-section {
	margin-top: 40px;
	margin-bottom: 80px;
}

.content-title {
	padding: 5px;
	background-color: #fff;
}

.content-title h3 a {
	color: #34495E;
	text-decoration: none;
	transition: 0.5s;
}

.content-title h3 a:hover {
	color: #F39C12;
}

.content-footer {
	background-color: #16A085;
	padding: 10px;
	position: relative;
}

.content-footer span a {
	color: #fff;
	display: inline-block;
	padding: 6px 5px;
	text-decoration: none;
	transition: 0.5s;
}

.content-footer span a:hover {}

aside {
	margin-top: 30px;
	-webkit-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
	-moz-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
	box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
}

aside .content-footer>img {
	width: 33px;
	height: 33px;
	border-radius: 100%;
	margin-right: 10px;
	border: 2px solid #fff;
}

.user-details {
	width: 300px;
	top: -100px;
	height: 100px;
	padding-bottom: 99px;
	position: absolute;
	border: solid 2px #fff;
	background-color: #34495E;
	right: 25px;
	display: none;
	z-index: 1;
}

@media (max-width:768px) {
	.user-details {
		right: 5px;
	}
}

.user-small-img {
	cursor: pointer;
}

.content-footer:hover .user-details {
	display: block;
}

.content-footer .user-details .user-img {
	width: 100px;
	height: 100px;
	float: left;
}

.user-full-ditels h3 {
	color: #fff;
	display: block;
	margin: 0px;
	padding-top: 10px;
	padding-right: 28px;
	text-align: right;
}

.user-full-ditels p {
	color: #fff;
	display: block;
	margin: 0px;
	padding-right: 20px;
	padding-top: 5px;
	text-align: right;
}

.social-icon {
	background-color: #fff;
	margin-top: 10px;
	padding-right: 20px;
	text-align: right;
}

.social-icon>a {
	font-size: 20px;
	text-decoration: none;
	padding: 5px;
}

.social-icon a:nth-of-type(1) {
	color: #4E71A8;
}

.social-icon a:nth-of-type(2) {
	color: #3FA1DA;
}

.social-icon a:nth-of-type(3) {
	color: #E3411F;
}

.social-icon a:nth-of-type(4) {
	color: #CA3737;
}

.social-icon a:nth-of-type(5) {
	color: #3A3A3A;
}

.widget-sidebar {
	background-color: #fff;
	padding: 20px;
	margin-top: 30px;
}

.title-widget-sidebar {
	font-size: 14pt;
	border-bottom: 2px solid #e5ebef;
	margin-bottom: 15px;
	padding-bottom: 10px;
	margin-top: 0px;
}

.title-widget-sidebar:after {
	border-bottom: 2px solid #f1c40f;
	width: 150px;
	display: block;
	position: absolute;
	content: '';
	padding-bottom: 10px;
}

.recent-post {
	width: 100%;
	height: 80px;
	list-style-type: none;
}

.post-img img {
	width: 100px;
	height: 70px;
	float: left;
	margin-right: 15px;
	border: 5px solid #16A085;
	transition: 0.5s;
}

.recent-post a {
	text-decoration: none;
	color: #34495E;
	transition: 0.5s;
}

.post-img,
.recent-post a:hover {
	color: #F39C12;
}

.post-img img:hover {
	border: 5px solid #F39C12;
}

button.accordion {
	background-color: #16A085;
	color: #fff;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
	background-color: #F39C12;
	color: #fff;
}

button.accordion:after {
	content: '\002B';
	color: #fff;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

button.accordion.active:after {
	content: "\2212";
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.categories-btn {
	background-color: #F39C12;
	margin-top: 30px;
	color: #fff;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.categories-btn:after {
	content: '\25BA';
	color: #fff;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.categories-btn:hover {
	background-color: #16A085;
	color: #fff;
}

.form-control {
	border-radius: 0px;
}

.btn-warning {
	border-radius: 0px;
	background-color: #F39C12;
	margin-top: 15px;
}

.input-group-addon {
	border-radius: 0px;
}

.search-wrap {
	margin: 0 40px;
	display: inline-block;
	position: relative;
	height: 60px;
	float: right;
	padding: 0;
	position: relative;
}

input[type="text"] {
	height: 60px;
	font-size: 55px;
	display: inline-block;
	font-family: "Lato";
	font-weight: 100;
	border: none;
	outline: none;
	color: #555;
	padding: 3px;
	padding-right: 60px;
	width: 0px;
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	z-index: 3;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
}

input[type="text"]:focus:hover {
	border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
	width: 700px;
	z-index: 1;
	border-bottom: 1px solid #BBB;
	cursor: text;
}

input[type="submit"] {
	height: 67px;
	width: 63px;
	display: inline-block;
	color: red;
	float: right;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
	text-indent: -10000px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity .4s ease;
}

input[type="submit"]:hover {
	opacity: 0.8;
}

body {
	position: relative;
	overflow-x: hidden;
}

body,
html {
	height: 100%;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	background-color: transparent;
}

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 220px;
}

#sidebar-wrapper {
	z-index: 1000;
	left: 220px;
	width: 0;
	height: 100%;
	margin-left: -220px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #1a1a1a;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
	display: none;
}

#wrapper.toggled #sidebar-wrapper {
	width: 220px;
}

#page-content-wrapper {
	width: 100%;
	padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -220px;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 220px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	position: relative;
	line-height: 20px;
	display: inline-block;
	width: 100%;
}

.sidebar-nav li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 3px;
	background-color: #1c1c1c;
	-webkit-transition: width .2s ease-in;
	-moz-transition: width .2s ease-in;
	-ms-transition: width .2s ease-in;
	transition: width .2s ease-in;
}

.sidebar-nav li:first-child a {
	color: #fff;
	background-color: #2d2366;
}

.sidebar-nav li:nth-child(2):before {
	background-color: #2d2366;
}

.sidebar-nav li:nth-child(3):before {
	background-color: #2d2366;
}

.sidebar-nav li:nth-child(4):before {
	background-color: #2d2366;
}

.sidebar-nav li:nth-child(5):before {
	background-color: #2d2366;
}

.sidebar-nav li:nth-child(6):before {
	background-color: #2d2366;
}

.sidebar-nav li:nth-child(7):before {
	background-color: #2d2366;
}

.sidebar-nav li:nth-child(8):before {
	background-color: #2d2366;
}

.sidebar-nav li:nth-child(9):before {
	background-color: #2d2366;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
	width: 100%;
	-webkit-transition: width .2s ease-in;
	-moz-transition: width .2s ease-in;
	-ms-transition: width .2s ease-in;
	transition: width .2s ease-in;
}

.sidebar-nav li a {
	display: block;
	color: #ddd;
	text-decoration: none;
	padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 20px;
	line-height: 44px;
}

.sidebar-nav .dropdown-menu {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: #222;
	box-shadow: none;
}

.hamburger {
	position: fixed;
	top: 20px;
	z-index: 999;
	display: block;
	width: 32px;
	height: 32px;
	margin-left: 15px;
	background: transparent;
	border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
	outline: none;
}

.hamburger.is-closed:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
	opacity: 1;
	display: block;
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
	background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
	top: 5px;
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
	top: 50%;
	margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
	bottom: 5px;
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
	top: 0;
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
	bottom: 0;
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
	background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
	top: 50%;
	margin-top: -2px;
}

.hamburger.is-open .hamb-top {
	-webkit-transform: rotate(45deg);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
	display: none;
}

.hamburger.is-open .hamb-bottom {
	-webkit-transform: rotate(-45deg);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
	opacity: 1;
	display: block;
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(250, 250, 250, .8);
	z-index: 1;
}